html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
a, ul {
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding: 0 0;
    margin: 0 0;

}
body {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    background: #191919;

}

.container {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1350px;
}
.header__logo {
    /* margin-top: 40px; */
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 17px 0;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 0 40px;
}
.main {
    margin-top: 26px;
}
.main__inner{   
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 60px;
}
.main__img{
    border-radius: 13px;
}
.main__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__content-text{
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: 88px; /* 125.714% */
letter-spacing: 3.2px;
}
.level {
    font-size: 80px;
    font-weight: 700;
}
.main__content-source{
    margin-left: 22px;
}
.source__list{
    display: flex;
    padding: 0 0;
    gap: 17px;
    margin-top: 16px;
}
.episodes {
    margin-top: 40px;
}
.episodes__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.episodes-title {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 2.88px;
    
}
.episodes__button {
color: #FFF;
font-family: DM Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 158.824% */
padding: 0px 12px;
border-radius: 6px;
border: none;
background: #118DA8;
width: fit-content;
height: 51px;
/* margin-top: 15px; */
cursor: pointer;
}
.episodes__list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px 0;
}
.episodes__item {
    display: flex;
    gap: 0 50px;
    background-color: black;
    border-radius: 32px;
    padding: 40px 40px;
}
.episodes__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.episodes__content-btn{
    width: fit-content;
    height: 27px;
    border-radius: 6px;
    background: #191919;
    border: none;
    padding: 0 16px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.episodes__num{
    margin-top: 48px;
    font-size: 17px;
    color: #118DA8;
}
.episodes__item-title{
    margin: 0;
    font-size: 64px;
    letter-spacing: 2.56px;
    font-weight: 400;
    margin-top: 18px;
    line-height: 70.4px;
    width: 676px;
}
.episodes__item-text{
color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 150% */
}

.meet{
    margin-top: 160px;

}
.meet__content{
    padding: 50px 0px;
    display: flex;
    gap: 60px;
}
.meet__content-left{
    display: flex;
    flex-direction: column;
}
.meet-btn {
    background-color: #118DA8;
    border-radius: 50%;
    border: none;
    width: 112px;
    height: 112px;  
    margin-top: 147px;
}
.meet__link{
color: #118DA8;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
margin-top: 20px;
}
.meet-img{
width: 650px;
height: 743px;
flex-shrink: 0;
}
.meet__title {
color: #FFF;
font-family: DM Sans;
font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: 79.2px; /* 121.846% */
letter-spacing: 2.88px;
width: 475px;
margin-top: 0;
margin-bottom: 0;
}
.meet__text-1{
color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 150% */
width: 556px;
margin-top: 28px;
margin-bottom: 0;
}
.meet__text-2 {
color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 150% */
width: 528px;
margin-top: 33px;
}

.subscribe{
    margin-top: 100px;
}
.subscribe__content {
    background-color: black;
    border-radius: 32px;
    display: flex;
    width: 1270px;
    height: 387px;
    padding: 0 60px;
    justify-content: space-between;
}
.subscribe__link {
color: #118DA8;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
margin-top: 60px;
display: block;
}
.subscribe__title{
color: #FFF;
font-family: DM Sans;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 79.2px; /* 110% */
letter-spacing: 2.88px;
margin-top: 0;
width: 431px;
}
.subscribe__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}
.subscribe__label {
width: 522px;
height: 82px;
border-radius: 6px;
border: 1px solid #191919;
background: #191919;
color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28.8px; /* 120% */
padding-left: 17px;
}
.subscribe-btn{
width: 87px;
height: 48px;
border-radius: 6px;
border: none;
background: #118DA8;
color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 28.8px; /* 192% */
}
.feedback {
    margin-top: 100px;
    margin-bottom: 100px;
}
.feedback__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
}
.feedback__item{
width: 400px;
height: 364px;
border-radius: 32px;
background: #000;
padding-left: 50px;
padding-right: 60px;
padding-top: 54px;
}

.feedback__text{
color: #FFF;
font-family: DM Sans;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 43.2px; /* 120% */
margin-top: 21px;
margin-bottom: 0;
}
.feedback__author{
margin-top: 15px;
display: block;
color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 28.8px; /* 125.217% */
width: 150px;

}
.footer__content{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding-top: 100px;
}
.footer__list__logo {
    display: flex;
    gap: 10px;
    margin-top: 23px;
}
.footer__list{
color: #FFF;
font-family: DM Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 158.824% */
}
.footer__list-link{
    margin-bottom: 10px;
    display: block;
}
.footer__list-right{
    display: flex;
    gap: 17px;
}
